.pane {
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-margin-top: 10px;
    -fx-margin-bottom: 10px;
    -fx-margin-right: 15px;
    -fx-margin-left: 8px;
    -fx-padding: 10px;
}

.border {
    -fx-background-color: rgb(104, 104, 104);
}

.command-flow {
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

.button.control-position {
    -fx-margin: 0;
    -fx-padding: 4px;
    -fx-font-size: 8px;
    -fx-text-fill: #575757;
}

.button.control-remove {
    -fx-margin: 0;
    -fx-padding: 4px;
    -fx-font-size: 8px;
    -fx-text-fill: #575757;
}

.labeled {
    -fx-text-fill: black;
}

.labeled:hover {
    -fx-font-size: 16px;
    -fx-text-fill: blue;
}

.labeled:pressed {
    -fx-font-size: 16px;
    -fx-text-fill: red;
}